<html>

<head>
    <title>QR Form</title>
</head>

<body>
    <form method="POST" action='/submit'>
        <input type="text" name="QR">
        <input type="submit" value="SUBMIT">
    </form>
</body>

</html>